@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  /* scroll-behavior: smooth; */
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.direction-reverse {
  animation-direction: reverse;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  background: #00000070;
  transition: all .3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #0000004d;
}
